body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 243, 243)
}
.container{
    width: 90%;
    margin: 15px auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    border-top: 4px solid rgb(18, 168, 18);
    border-bottom:4px solid rgb(18, 168, 18);
}
header{
    background-color: rgb(117, 219, 86);
    margin:0;
    width: 100%;
    display: flex;
}
#content{
    display: flex;
    width: 100%;
}
.main-content{
    width: 70%;
}
.aside-content{
    width: 30%;
    background-color: white;
}

/*CONTAINER HEADER*/
.container-header{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
p#title{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-left: 15px;
}
/*CONTAINER HEADER ENDS*/
/*NAV BAR */
.logo{
    width: 30%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
nav{
    position: sticky;
    width: 70%;
}
ul{
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    margin: 0 40px auto;
    padding: 0;
    height: 90px;
}
li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.link-copado::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0;
    padding: 0;
    background: white;
    transition: width .3s;
}
.link-copado:hover::after{
    width: 100%;
    transition: width .3s;
}
/*NAV VAR ENDS*/
#log{
    white-space: pre;
}
.calculator{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 300px;
    border-radius: 15px;
    font-size: 2rem;
    margin: 20px auto;
}
td{
    padding: 0;
    margin: 0;
}
table{
    color: white;
    width: 370px;
}
input{
    display: block;
    width: calculator(100%-40px);
    height: 75px;
    padding: 5px 20px 0;
    margin-bottom: 10px;
    border: none;
    background-color: #222;
    text-align: right;
}
.btn{
    margin: 2px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.btn-cero{
    margin: 2px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    height: 60px;
    width: 120px;
    border-radius: 30px;
}
.gray{
    background-color: gray;
    color: #333;
}
.gray:hover{
    background-color:#ddd;
}
.dark-gray{
    background-color: #444;
    color: white;
}
.dark-gray:hover {
    background-color: #555;
}
.orange{
    background-color: rgb(223, 154, 27);
    color: white;
}
.orange:hover{
    background-color: #f1b76b;
}
#result{
    text-align: right;
    display: block;
    font-size: 60px;
    background-color: #222;
    height: 150px;
    color: white;
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}