body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 243, 243)
}
.container{
    width: 90%;
    margin: 15px auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    border-top: 4px solid rgb(18, 168, 18);
    border-bottom:4px solid rgb(18, 168, 18);
}
header{
    background-color: rgb(117, 219, 86);
    margin:0;
    width: 100%;
    display: flex;
}
#content{
    display: flex;
    width: 100%;
}
.main-content{
    width: 70%;
}


/*CONTAINER HEADER*/
.container-header{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
p#title{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-left: 15px;
}
/*CONTAINER HEADER ENDS*/
/*NAV BAR */
.logo{
    width: 30%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
#header-nav{
    position: sticky;
    width: 70%;
}
#header-nav ul{
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    margin: 0 40px auto;
    padding: 0;
    height: 90px;
}
#header-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.link-copado::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0;
    padding: 0;
    background: white;
    transition: width .3s;
}
.link-copado:hover::after{
    width: 100%;
    transition: width .3s;
}
/*NAV VAR ENDS*/


section{
    display: flex;
    align-items: flex-start;
}
.aside-content{
    width: 50%;
    display: flex;
    align-items: flex-start;
    background-color: gray;
}

.orange{
    background-color: orange;
    width: 15%;
}
.blue{
    background-color: blue;
    color: white;
    width: 40%;
}
.blue-aside{
    background-color: blue;
    color: white;
    width: 45%;
}
.box{
    border-radius: 10px;
    margin: 5px;
}

footer{
    background-color: pink;
    border-radius: 10px;
    clear: both
}
ul{
    list-style: none;
    margin: 5px;
    padding: 0;
}
ul li a {
    text-decoration: none;
    color: black;
}

/* Desktop layout sizes */
@media only screen and (min-width: 581px) and (max-width:936px){
    .blue{
        width: 50%;
    }
    .aside-content{
        min-width: 35%;
        flex-direction: column;
        margin-right: 5px;
        padding: 0;
    }
    .blue-aside{
        min-width: 100%;
        height: 40%;
    }
    .logo{
        display: none;
    }
}
@media only screen and (min-width:321px)and (max-width:580px){
    section{
        flex-direction: column;
    }
    .box{
        width: 100%;
        margin-right: 0;
    }
    nav{
        text-align: center;
    }
    .aside-content{
        width: 100%;
    }
    .logo{
        display: none;
    }
}
@media only screen and (max-width:320px){
    section{
        flex-direction: column;
    }
    .box{
        min-width: 100%;
        margin-right: 0;
    }
    nav{
        text-align: center;
    }
    .aside-content{
        min-width: 100%;
    }
    .logo{
        display: none;
    }
}
