.searchTagsContainer
        {
                width: 30%;
                height: 10vmin;
                position: relative;
                margin-bottom: 1%;
                left: 35%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
        }