body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 243, 243)
}
.container{
    width: 90%;
    margin: 15px auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    border-top: 4px solid rgb(18, 168, 18);
}
header{
    background-color: rgb(117, 219, 86);
    margin:0;
    width: 100%;
    display: flex;
}
#content{
    display: flex;
    width: 100%;
}
.main-content{
    width: 70%;
}
.aside-content{
    width: 30%;
    background-color: white;
}
.aside-content .red{
    color:red;
}

/*NAV BAR */
.logo{
    width: 30%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
nav{
    position: sticky;
    width: 70%;
}
ul{
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    margin: 0 40px auto;
    padding: 0;
    height: 90px;
}
li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.link-copado::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0;
    padding: 0;
    background: white;
    transition: width .3s;
}
.link-copado:hover::after{
    width: 100%;
    transition: width .3s;

}
#puzzle-level{
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    margin: 0 40px auto;
    padding: 0;
    height: 90px;
}
#puzzle-level li{
    margin: 0 auto;
    cursor: pointer;
}


.container-header{
    height: 50px;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
p#title{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-left: 15px;
}

/*Puzzle level select nav bar */

/* PUZZLE */
.board{
    padding: 30px;
    text-align: center
}
.cell{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    cursor: pointer;
    font-size: 30px;
    display: inline-block;
    line-height: 100px;
    vertical-align: center;
    background-color: orange;
    margin: 1px;
}
.last{
    background-color: white;
    color: white;
}


/*Shuffle button*/
.button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    border-radius: 3px;
    margin: 5px auto;
}
.button p {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
}
    
.button:hover {
    cursor: pointer;
}


/*Level select styles begins*/
.level-select{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
} 
.level-select button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
}
.level-select button:focus:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 2px;
    background: white;
}


/*Level select styles ends*/