/*NAV BAR */
nav{
    position: sticky;
    width: 70%;
}
ul{
    display: flex;
    justify-content: left;
    list-style: none;
    align-items: center;
    margin: 0 40px auto;
    padding: 0;
    height: 90px;
}
li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: 0;
    padding: 0;
    background: white;
    transition: width .3s;
}
.link:hover::after{
    width: 100%;
    transition: width .3s;
}
/*NAV VAR ENDS*/
