.footer {
  background: rgb(29, 29, 29);
  height: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer > * {
  margin: 0% 1% 0% 1%;
  font-size: 2.3vmin;
}
.footerSpanG {
  color: rgb(0, 200, 0);
}
.footerSpanR {
  color: rgb(200, 0, 0);
}
